.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Css for Landing page */

/* App.css */

/* Styles for the landing page */
.landing-page {
  position: relative;
  z-index: 1; /* Default z-index for the landing page */
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s; /* Add a smooth transition for background changes */
}

/* Styles for the forms */
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  color: #282c34;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2; /* Forms should have a higher z-index than the landing page */
  display: none; /* Initially, hide the forms */
}


/* Add this class to blur the background */
.background-blur {
  filter: blur(5px);
  transition: filter 0.3s; /* Add a smooth transition for the blur effect */
}

